@model Parks
@{
    ViewData["Title"] = "Detail";
}

<body>
    <div class="container-fluid">
        <div id="detail">
            <h1 class="heading-primary"><span class="heading-primary-main" style="text-align: center;">@Model.Name</span></h1>
            <img src="~/images/@(Model.ParkCode).jpg" class="col-lg-12"/>
            <div class="col-md-5">
                <blockquote>
                    <p id="quote"> @Model.Quote <br /><em>~ @Model.QuoteSource</em></p>
                </blockquote>
            </div>
        </div>
    </div>
</body>