@model AllParksModel
@{
    ViewData["Title"] = "ViewParks";
}
<div class="container-fluid">
    <h1>view parks</h1>
    <table>
        <tbody>
            @foreach (var park in Model.Parks)
            {
                <tr>
                    <td>
                        <a asp-controller="Parks" asp-action="detail" asp-route-id="@park.ParkCode">
                            <img src="~/images/@(park.ParkCode).jpg" />
                        </a>
                        <h3><strong>@park.Name</strong></h3>
                        <p>@park.Description</p>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>