@model AllParksModel
@{
    ViewData["Title"] = "ViewParks";
}
<div class="container-fluid">
    <h1 class="heading-primary"><span class="heading-primary-main">All Parks</span></h1>
    <div>
        <div>
            @foreach (var park in Model.Parks)
            {              
                        <div>
                                <a asp-controller="Parks" asp-action="detail" asp-route-id="@park.ParkCode">
                                    <img class="photo img-responsive img-circle" src="~/images/@(park.ParkCode).jpg" />
                                </a>
                        </div>
                    <h3><strong>@park.Name</strong></h3>
                    <p>@park.Description</p>
            }
        </div>
    </div>
</div>