/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: rgb(33, 33, 33);
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}


.container-fluid {
    color: rgba(195, 175, 115, 0.70);
}

/*header section start*/
.header {
    height: 95vh;
    background-image: linear-gradient( to right bottom, rgba(70, 40, 182, 0.8), rgba(21, 119, 119, 0.8)), url(https://cdn-image.travelandleisure.com/sites/default/files/styles/1600x1000/public/1491233384/yosemite-national-park-california-PARKWEEK0417.jpg?itok=NpXBdOnl);
    background-size: cover;
    background-position: top;
    position: relative;
}

.text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.heading-primary {
    text-transform: uppercase;
    backface-visibility: hidden;
    margin-bottom: 60px;
}

.heading-primary-main {
    display: block;
    font-size: 38px;
    font-weight: 400;
    letter-spacing: 8px;
    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out;
}

.heading-primary-sub {
    display: block;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 1px;
    padding-top: 20px;
    animation: moveInRight 1s ease-out;
}

@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }

    80% {
        transform: translateX(10px);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(100px);
    }

    80% {
        transform: translateX(-10px);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

/*header section end*/


/*viewparks section start*/
.photo {
    display: inline;
    transition: transform .3s;
}

.photo:hover {
    transform: scale(1.05);
}
/*viewparks section ends*/


/*details view section starts*/
#quote {
    margin-top: 25px;
    font-size: 15px;
    display: block;
}

#description {
    margin-top: 40px;
    text-align: center;
    font-size: 15px;
}

.col-lg-11 {
    display: block;
    position: center;
    clear: both;
}

.col-md-6 {
    padding-left : 95px;
}
/*details view section ends*/